body {
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    text-align: center;
    margin: 0;
}

header {
    padding: 60px;
    background: #222;
}

section {
    padding: 40px;
}

.btn {
    display: inline-block;
    padding: 12px 20px;
    background: #00cc66;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

.btn:hover {
    opacity: 0.8;
}

footer {
    background: #222;
    padding: 20px;
}
